<div class="container">
    <section class="section pb-4">
      <h2 class="text-9 font-weight-600 text-center">Why Book Bus with Efoy</h2>
      <p class="lead mb-5 text-center">Book Bus Tickets Online. Save Time and Money!</p>
      <div class="row">
        <div class="col-md-4">
          <div class="featured-box style-1 mb-4">
            <div class="featured-box-icon text-primary"> <i class="bi bi-currency-dollar"></i> </div>
            <h3>No Booking Charges</h3>
            <p>No hidden charges, no payment fees, and free customer service. So you get the best deal every time!</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="featured-box style-1 mb-4">
            <div class="featured-box-icon text-primary"> <i class="bi bi-search"></i> </div>
            <h3>Quick and Easy Search</h3>
            <p>We'll find you the best deals available from top bus companies for you to choose from, combining quality and economy. </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="featured-box style-1 mb-4">
            <div class="featured-box-icon text-primary"> <i class="bi bi-sort-down"></i> </div>
            <h3>Cheapest Price</h3>
            <p>Always get cheapest price with the best in the industry. So you get the best deal every time.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="featured-box style-1 mb-4">
            <div class="featured-box-icon text-primary"> <i class="bi bi-signpost-split-fill"></i> </div>
            <h3>Many Routes</h3>
            <p>Make your road journeys easier across world with many Operators.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="featured-box style-1 mb-4">
            <div class="featured-box-icon text-primary"> <i class="bi bi-bookmark-x-fill"></i> </div>
            <h3>Easy Cancellation &amp; Refunds</h3> 
            <p>Get instant refund and get any booking fees waived off!</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="featured-box style-1 mb-4">
            <div class="featured-box-icon text-primary"> <i class="bi bi-heart-fill"></i> </div>
            <h3>Every time, anywhere</h3>
            <p>Because your trip doesn't end with a ticket, we’re here for you all the way</p>
          </div>
        </div>
      </div>
    </section>
  </div>