<header id="header" class="sticky-top bg-secondary header-text-light">
    <div class="container">
      <div class="header-row">
        <div class="header-column justify-content-start"> 
          
          <!-- Logo
          ============================================= -->
          <div class="logo">
          	<a href="index.html" title="Efoy - Online Bus Ticket System">
                <img src="assets/image/logo2.png" alt="Efoy" width="127" height="100"></a>
          </div><!-- Logo end -->
          
        </div>
        
        <div class="header-column justify-content-end">
          <!-- Primary Navigation
          ============================================= -->
          <nav class="primary-menu navbar navbar-expand-lg">
            <div id="header-nav" class="collapse navbar-collapse">
              <ul class="navbar-nav">
                <li><a href="tel:7575" class="dropdown-toggle"><i class="bi bi-telephone-fill"></i> &nbsp;7575<i class="arrow"></i></a>
                </li>
                <li class="dropdown"> 
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-translate"></i>&nbsp; English<i class="arrow"></i></a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">አማርኛ</a></li>
                    <li><a class="dropdown-item" href="#">Afaan Oromoo</a></li>
                    <li><a class="dropdown-item" href="#">ትግርኛ</a></li>
                    <li><a class="dropdown-item" href="#">Somaligna</a></li>
                    <li><a class="dropdown-item" href="#">Afarigna</a></li>
                </ul>
                </li>
                <li class="login-signup ml-lg-2"><a class="pl-lg-4 pr-0" data-toggle="modal" data-target="#login-signup" href="#" title="Login / Sign up">Login / Sign up <span class="d-none d-lg-inline-block"><i class="bi bi-person-fill"></i></span></a></li>
              </ul>
            </div>
          </nav>
          
        </div>
        
        <!-- Collapse Button
        ============================================= -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-nav"> <span></span> <span></span> <span></span> </button>
      </div>
    </div>
  </header>