<section class="easier">
    <div class="container text-center">
        <div class="row">
            <div class="col-12 ">
                <h5 class="main-heading"><span class="line">------------    </span><span>WE MAKE IT EASIER FOR YOU</span><span class="line">     ------------</span></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="box text-center mb-4">
                    <div class="featured-box-icon text-primary"> <i class="bi bi-stopwatch"></i> </div>
                    <h6 class="text-body-secondary">Fast Booking</h6>
                    <p class="lead">Enjoy buying your bus tickets <br>
                        online from home or on the go,<br> 
                        with our mobile <br>
                        friendly site.</p>
                </div>
                <div class="box text-center" style="margin-top:50px;">
                    <div class="featured-box-icon text-primary"><i class="bi bi-currency-dollar"></i></div>
                    <h6 class="text-body-secondary">Spend Less</h6>
                    <p class="lead">Travel to many destinations <br>
                        for less than $100! We have <br>
                        the LOWEST prices and the <br>
                         BEST carriers all <br>
                          in one place.</p>
                </div>
            </div>
            <div class="col-lg-4 d-flex align-items-center justify-content-center">
                <div class="img-wrap">
                    <img src="assets/images/bus-tickets-easy-navigation.webp" width="379" height="306" alt="Bus Tickets East Navigation">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box mb-4">
                    <div class="featured-box-icon text-primary"><i class="bi bi-chat-left-quote"></i></div>
                    <h6 class="text-body-secondary">Stress Free</h6>
                    <p class="lead">The simplest and stress-free <br>
                         way to book your bus <br>
                         travel all in <br>
                         one purchase.</p>
                </div>
                <div class="box" style="margin-top: 50px;">
                    <div class="featured-box-icon text-primary"><i class="bi bi-images"></i></div>
                    <h6 class="text-body-secondary">Travel More</h6>
                    <p  class="lead">Bus travel is one of the most <br>
                        economic and efficient ways <br>
                         to travel. Save More, <br>
                         Travel More... <br>
                         Adventure Awaits!</p>
                </div>
            </div>
        </div>
    </div>
</section>