<!-- Document Wrapper  
============================================= -->

<div class="preloader"><mat-spinner *ngIf="!resources"></mat-spinner></div>

<div id="main-wrapper">
  <!-- Header
  ============================================= -->
  <!-- Header
  ============================================= -->
    
  <!-- Content
  ============================================= -->
  <div id="content">
      <section class="container">
        <div class="row m-4">
          <app-search-bus></app-search-bus>
        </div>
        <div class="row">
        <!-- Side Panel
        ============================================= -->
          <aside class="col-md-3">
            <div class="bg-light shadow-md rounded p-3">
              <h3 class="text-5">Filter</h3>
              <div class="accordion accordion-alternate style-2" id="toggleAlternate">
                <div class="card">
                  <div class="card-header" id="busOperators">
                    <h5 class="mb-0"> <a href="#" class="collapse" data-toggle="collapse" data-target="#togglebusOperators" aria-expanded="true" aria-controls="togglebusOperators">Bus</a> </h5>
                  </div>
                  <div id="togglebusOperators" class="collapse show" aria-labelledby="busOperators">
                    <div class="card-body">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" id="gujaratTravels" name="busOperators" class="custom-control-input">
                        <label class="custom-control-label" for="gujaratTravels">Odda Bus</label>
                      </div>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" id="shrinathTravel" name="busOperators" class="custom-control-input">
                        <label class="custom-control-label" for="shrinathTravel">Abay Bus</label>
                      </div>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" id="akTour" name="busOperators" class="custom-control-input">
                        <label class="custom-control-label" for="akTour">Ethio Bus</label>
                      </div>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" id="vikasTravels" name="busOperators" class="custom-control-input">
                        <label class="custom-control-label" for="vikasTravels">Geda Bus</label>
                      </div>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" id="indianTravels" name="busOperators" class="custom-control-input">
                        <label class="custom-control-label" for="indianTravels">Golden Bus</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </aside><!-- Side Panel end -->
          
          <div class="col-md-9 mt-4 mt-md-0">
            <div class="bg-light shadow-md rounded py-4">
              <div class="mx-3 mb-3 text-center">
                <h2 class="text-6">Addis Ababa <small class="mx-2">to</small>DireDawa</h2>
              </div>
              <div class="text-1 bg-light-3 border border-right-0 border-left-0 py-2 px-3">
                <div class="row">
                  <div class="col col-sm-3"><span class="d-none d-sm-block">Bus</span></div>
                  <div class="col col-sm-2 text-center">Departure</div>
                  <div class="col-sm-2 text-center d-none d-sm-block">Duration</div>
                  <div class="col col-sm-2 text-center">Arrival</div>
                  <div class="col col-sm-3 text-center d-none d-sm-block">Price</div>
                </div>
              </div>
              <div class="bus-list">
                <div class="bus-item">
                  <div class="row align-items-sm-center flex-row py-4 px-3">
                    <div class="col col-sm-3"> <span class="text-3 text-dark operator-name">Abay Bus</span> <span class="text-1 text-muted d-block"></span> </div>
                    <div class="col col-sm-2 text-center time-info"> <span class="text-4 text-dark">12:00</span> <small class="text-muted d-block">Addis Ababa</small> </div>
                    <div class="col col-sm-2 text-center d-none d-sm-block time-info"> <span class="text-3 duration">06h 32m</span> <small class="text-muted d-block">12 Stops</small> </div>
                    <div class="col col-sm-2 text-center time-info"> <span class="text-4 text-dark">05:15</span> <small class="text-muted d-block">DireDawa</small> </div>
                    <div class="col-12 col-sm-3 align-self-center text-right text-sm-center mt-2 mt-sm-0">
                      <div class="d-inline-block d-sm-block text-dark text-5 price mb-sm-1">250</div>
                      <a href="#" class="btn btn-sm btn-outline-primary shadow-none" data-toggle="modal" data-target="#select-busseats"><i class="fa fa-ellipsis-h d-none d-sm-block d-lg-none" data-toggle="tooltip" title="Select Seats"></i> <span class="d-block d-sm-none d-lg-block">Select Seats</span></a> </div>
                  </div>
                </div>
                <div class="bus-item">
                  <div class="row align-items-sm-center flex-row py-4 px-3">
                    <div class="col col-sm-3"> <span class="text-3 text-dark operator-name">Odda Bus</span> <span class="text-1 text-muted d-block"></span> </div>
                    <div class="col col-sm-2 text-center time-info"> <span class="text-4 text-dark">12:00</span> <small class="text-muted d-block">Addis Ababa</small> </div>
                    <div class="col col-sm-2 text-center d-none d-sm-block time-info"> <span class="text-3 duration">06h 32m</span> <small class="text-muted d-block">12 Stops</small> </div>
                    <div class="col col-sm-2 text-center time-info"> <span class="text-4 text-dark">05:15</span> <small class="text-muted d-block">DireDawa</small> </div>
                    <div class="col-12 col-sm-3 align-self-center text-right text-sm-center mt-2 mt-sm-0">
                      <div class="d-inline-block d-sm-block text-dark text-5 price mb-sm-1">195</div>
                      <a href="#" class="btn btn-sm btn-outline-primary shadow-none" data-toggle="modal" data-target="#select-busseats"><i class="fa fa-ellipsis-h d-none d-sm-block d-lg-none" data-toggle="tooltip" title="Select Seats"></i> <span class="d-block d-sm-none d-lg-block">Select Seats</span></a> </div>
                  </div>
                </div>
                <div class="bus-item">
                  <div class="row align-items-sm-center flex-row py-4 px-3">
                    <div class="col col-sm-3"> <span class="text-3 text-dark operator-name">Ethio Bus</span> <span class="text-1 text-muted d-block"></span> </div>
                    <div class="col col-sm-2 text-center time-info"> <span class="text-4 text-dark">12:00</span> <small class="text-muted d-block">Addis Ababa</small> </div>
                    <div class="col col-sm-2 text-center d-none d-sm-block time-info"> <span class="text-3 duration">06h 32m</span> <small class="text-muted d-block">12 Stops</small> </div>
                    <div class="col col-sm-2 text-center time-info"> <span class="text-4 text-dark">05:15</span> <small class="text-muted d-block">DireDawa</small> </div>
                    <div class="col-12 col-sm-3 align-self-center text-right text-sm-center mt-2 mt-sm-0">
                      <div class="d-inline-block d-sm-block text-dark text-5 price mb-sm-1">221</div>
                      <a href="#" class="btn btn-sm btn-outline-primary shadow-none" data-toggle="modal" data-target="#select-busseats"><i class="fa fa-ellipsis-h d-none d-sm-block d-lg-none" data-toggle="tooltip" title="Select Seats"></i> <span class="d-block d-sm-none d-lg-block">Select Seats</span></a> </div>
                  </div>
                </div>
                <div class="bus-item">
                  <div class="row align-items-sm-center flex-row py-4 px-3">
                    <div class="col col-sm-3"> <span class="text-3 text-dark operator-name">Geda Bus</span> <span class="text-1 text-muted d-block"></span> </div>
                    <div class="col col-sm-2 text-center time-info"> <span class="text-4 text-dark">12:00</span> <small class="text-muted d-block">Addis Ababa</small> </div>
                    <div class="col col-sm-2 text-center d-none d-sm-block time-info"> <span class="text-3 duration">06h 32m</span> <small class="text-muted d-block">12 Stops</small> </div>
                    <div class="col col-sm-2 text-center time-info"> <span class="text-4 text-dark">05:15</span> <small class="text-muted d-block">DireDawa</small> </div>
                    <div class="col-12 col-sm-3 align-self-center text-right text-sm-center mt-2 mt-sm-0">
                      <div class="d-inline-block d-sm-block text-dark text-5 price mb-sm-1">245</div>
                      <a href="#" class="btn btn-sm btn-outline-primary shadow-none" data-toggle="modal" data-target="#select-busseats"><i class="fa fa-ellipsis-h d-none d-sm-block d-lg-none" data-toggle="tooltip" title="Select Seats"></i> <span class="d-block d-sm-none d-lg-block">Select Seats</span></a> </div>
                  </div>
                </div>
                <div class="bus-item">
                  <div class="row align-items-sm-center flex-row py-4 px-3">
                    <div class="col col-sm-3"> <span class="text-3 text-dark operator-name">Golden Bus</span> <span class="text-1 text-muted d-block"></span> </div>
                    <div class="col col-sm-2 text-center time-info"> <span class="text-4 text-dark">12:00</span> <small class="text-muted d-block">Addis Ababa</small> </div>
                    <div class="col col-sm-2 text-center d-none d-sm-block time-info"> <span class="text-3 duration">06h 32m</span> <small class="text-muted d-block">12 Stops</small> </div>
                    <div class="col col-sm-2 text-center time-info"> <span class="text-4 text-dark">05:15</span> <small class="text-muted d-block">DireDawa</small> </div>
                    <div class="col-12 col-sm-3 align-self-center text-right text-sm-center mt-2 mt-sm-0">
                      <div class="d-inline-block d-sm-block text-dark text-5 price mb-sm-1">199</div>
                      <a href="#" class="btn btn-sm btn-outline-primary shadow-none" data-toggle="modal" data-target="#select-busseats"><i class="fa fa-ellipsis-h d-none d-sm-block d-lg-none" data-toggle="tooltip" title="Select Seats"></i> <span class="d-block d-sm-none d-lg-block">Select Seats</span></a> </div>
                  </div>
                </div>
              </div>
              
              <!-- Pagination
              ============================================= -->
              <ul class="pagination justify-content-center mt-4 mb-0">
                <li class="page-item disabled"> <a class="page-link" href="#" tabindex="-1"><i class="fa fa-angle-left"></i></a> </li>
                <li class="page-item active"> <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a> </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"> <a class="page-link" href="#"><i class="fa fa-angle-right"></i></a> </li>
              </ul><!-- Pagination end -->
            </div>
          </div>
        </div>
      </section>
  </div><!-- Content end -->

</div><!-- Document Wrapper end -->

<div id="select-busseats" class="modal fade" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Bus Booking Details</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                        </div>
                        <div class="modal-body">
                          <div class="bus-details">
                            <div class="row align-items-sm-center flex-row mb-4">
                              <div class="col col-sm-3"> <span class="text-4 text-dark operator-name">Abay Bus</span> <span class="text-muted d-block"></span> </div>
                              <div class="col col-sm-3 text-center time-info"> <span class="text-5 text-dark">12:00</span> <small class="text-muted d-block">Addis Ababa</small> </div>
                              <div class="col col-sm-3 text-center d-none d-sm-block time-info"> <span class="text-3 duration">06h 32m</span> <small class="text-muted d-block">12 Stops</small> </div>
                              <div class="col col-sm-3 text-center time-info"> <span class="text-5 text-dark">05:15</span> <small class="text-muted d-block">DireDawa</small> </div>
                            </div>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                              <li class="nav-item"> <a class="nav-link active" id="first-tab" data-toggle="tab" href="#first" role="tab" aria-controls="first" aria-selected="true">Available Seats</a> </li>
                              <li class="nav-item"> <a class="nav-link" id="second-tab" data-toggle="tab" href="#second" role="tab" aria-controls="second" aria-selected="false">Cancellation Fee</a> </li>
                            </ul>
                            <div class="tab-content my-3" id="myTabContent">
                              <div class="tab-pane fade show active" id="first" role="tabpanel" aria-labelledby="first-tab">
                                <div class="row">
                                  <div class="col-12 col-lg-6 text-center">
                                    <p class="text-muted text-1">Click on Seat to select/ deselect</p>
                                    <div id="seat-map">
                                      <div class="front-indicator">Front</div>
                                    </div>
                                    <div class="legend">
                                      <div class="gnrl">
                                        <div class="general1">
                                          <div class="seat0">
                                            <div  *ngFor="let seat of seats">
                                              <span class="seat" *ngFor="let col of seat" (click)="seatClicked(col)" 
                                                      [ngSwitch]="getStatus(col)">
                                                      <button *ngSwitchCase="'reserved'" mat-mini-fab  disabled class="mb-2 reservedSeat">{{col}}</button>
                                                      <button *ngSwitchCase="'selected'" mat-mini-fab  class="mb-2 selectedSeat">{{col}}</button>
                                                      <button *ngSwitchDefault mat-mini-fab color="basic" class="mb-2 freeSeat">{{col}}</button>
                                              </span>
                                            </div>
                                          </div>
                                          <div class="seat12">
                                            <div class="seat1">
                                              <div  *ngFor="let seat of seats1">
                                                <span class="seat" *ngFor="let col of seat" (click)="seatClicked(col)" 
                                                        [ngSwitch]="getStatus(col)">
                                                        <button *ngSwitchCase="'reserved'" mat-mini-fab  disabled class="mb-2 reservedSeat">{{col}}</button>
                                                        <button *ngSwitchCase="'selected'" mat-mini-fab  class="mb-2 selectedSeat">{{col}}</button>
                                                        <button *ngSwitchDefault mat-mini-fab color="basic" class="mb-2 freeSeat">{{col}}</button>
                                                </span>
                                              </div>
                                            </div>
                                            <div class="seat2">
                                              <div  *ngFor="let seat of seats2">
                                                <span class="seat" *ngFor="let col of seat" (click)="seatClicked(col)" 
                                                        [ngSwitch]="getStatus(col)">
                                                        <button *ngSwitchCase="'reserved'" mat-mini-fab  disabled class="mb-2 reservedSeat">{{col}}</button>
                                                        <button *ngSwitchCase="'selected'" mat-mini-fab  class="mb-2 selectedSeat">{{col}}</button>
                                                        <button *ngSwitchDefault mat-mini-fab color="basic" class="mb-2 freeSeat">{{col}}</button>
                                                </span>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="general2">
                                          <div  *ngFor="let seat of seats3">
                                            <span class="seat" *ngFor="let col of seat" (click)="seatClicked(col)" 
                                                    [ngSwitch]="getStatus(col)">
                                                    <button *ngSwitchCase="'reserved'" mat-mini-fab  disabled class="mb-2 reservedSeat">{{col}}</button>
                                                    <button *ngSwitchCase="'selected'" mat-mini-fab  class="mb-2 selectedSeat">{{col}}</button>
                                                    <button *ngSwitchDefault mat-mini-fab color="basic" class="mb-2 freeSeat">{{col}}</button>
                                            </span>
                                          </div>
                                        </div>
                                      </div>
                                      
                                    </div>
                                      
                                  </div>
                                  <div class="col-12 col-lg-6 mt-3 mt-lg-0">
                                    <div class="booking-details">
                                      <h2 class="text-5">Ticket Details</h2>
                                      <p>Selected Seats (<span id="counter">{{selected.length}}</span>):</p>
                                      <ul id="selected-seats" *ngIf="selected.length > 0">
                                        <li *ngFor="let col of selected">Seat # {{col}}: {{ticketPrice}} Birr
                                          <span><button mat-mini-fab class="xb" (click)="removeSelected(col)"><i class="bi bi-file-excel"></i></button></span></li>
                                      </ul>
                                      <div class="d-flex bg-light-4 px-3 py-2 mb-3">Total : <span class="text-dark text-5 font-weight-600 ml-2">{{ticketPrice*selected.length}} Birr</span></div>
                                      <a class="btn btn-primary btn-block">Continue</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="tab-pane fade" id="second" role="tabpanel" aria-labelledby="second-tab">
                                <table class="table table-hover table-bordered bg-light">
                                  <thead>
                                    <tr>
                                      <td>Hours before Departure</td>
                                      <td class="text-center">Refund Percentage</td>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>Before 0 Hrs.</td>
                                      <td class="text-center">0%</td>
                                    </tr>
                                    <tr>
                                      <td>Before 24 Hrs.</td>
                                      <td class="text-center">30%</td>
                                    </tr>
                                    <tr>
                                      <td>Before 48 Hrs.</td>
                                      <td class="text-center">60%</td>
                                    </tr>
                                    <tr>
                                      <td>Before 60 Hrs.</td>
                                      <td class="text-center">75%</td>
                                    </tr>
                                    <tr>
                                      <td>Above 60 Hrs. </td>
                                      <td class="text-center">80%</td>
                                    </tr>
                                  </tbody>
                                </table>
                                <p class="font-weight-bold">Terms & Conditions</p>
                                <ul>
                                  <li>The penalty is subject to 24 hrs before departure. No Changes are allowed after that.</li>
                                  <li>The charges are per seat.</li>
                                  <li>Partial cancellation is not allowed on tickets booked under special discounted fares.</li>
                                  <li>In case of no-show or ticket not cancelled within the stipulated time, only statutory taxes are refundable subject to Service Fee.</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div><!-- Bus Details Modal Dialog end -->